
@font-face {
  font-family: 'GeometricaSans';
  src: url('../fonts/GeometricaSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GeometricaSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GeometricaSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/GeometricaSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GeometricaSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GeometricaSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Bitter-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Bitter-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Bitter-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Bitter-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Bitter-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Light.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/ProximaNova-Light.woff2') format('woff2'), /* Super Modern Browsers */
	     url('../fonts/ProximaNova-Light.woff') format('woff'), /* Pretty Modern Browsers */
	     url('../fonts/ProximaNova-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/ProximaNova-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 300;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/ProximaNova-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	     url('../fonts/ProximaNova-Regular.woff') format('woff'), /* Pretty Modern Browsers */
	     url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/ProximaNova-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 400;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ProximaNova-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ProximaNova-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ProximaNova-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 700;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Semibold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ProximaNova-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ProximaNova-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ProximaNova-Semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 600;
}
body {
	margin: 0 !important;
	padding: 0 !important;
	color: #383838;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}
div, p, form, input, a, span, button {
	box-sizing: border-box;
}
p {
    margin: 0;
    padding: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
a, a:hover, a:active {
    text-decoration: none;
}
a {
    text-decoration: none;
	transition: all 0.5s ease;
	cursor: pointer;
}
button{
	outline: none;
	border: none;
	background: none;
}
.btn{
	display: block;
	text-align: center;
	max-width: 270px;
	width: 100%;
	max-height: 50px;
	background: linear-gradient(90deg, #00CCFF 0%, #00A2FF 100%);
	box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
	border-radius: 30px;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	font-family: ProximaNova;
	font-weight: 700;
	font-size: 15px;
	line-height: 150%;
	padding: 14px 0;
	border: 1px solid transparent;
	transition: 0.5s ease;
	cursor: pointer;
}
.btn:hover{
	color: #21c2fe;
	background: none;
	border: 1px solid #21c2fe;
}
.section-title{
	font-family: Bitter;
	font-weight: 700;
	font-size: 21px;
	line-height: 130%;
	letter-spacing: 0.04em;
	text-align: right;
}
.section-title span{
	text-transform: uppercase;
	font-size: 42px;
	line-height: 1.5em;
	display: block;
}
/*   Спецификация END   */

/* Preloader */
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../img/spinner.svg') no-repeat 50% 50%;
    margin: -32px 0 0 -32px;
}
/* Preloader END */


/* Header   */
.header{
	background-color: #eaf1f7; 
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;	
}
.top-bar{
	background: #FAFBFC;
	box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
	height: 90px;
    display: flex;
    align-items: center;
}
.header .logo{
	margin-left: 10px;
    margin-top: -10px;
    color: #383838;
}
.logo{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	font-family: 'GeometricaSans';
	font-size: 60px;
	cursor: pointer;
}
.logo span{
	font-family: 'Bitter';
	font-weight: 500;
	font-size: 14px;
	line-height: 128%;
    letter-spacing: 0.05em;
    width: 170px;
    margin-left: 11px;
    margin-top: 11px;
}
.menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
    width: 95%;
}
.menu__item a{
	display: block;
	font-family: ProximaNova;
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
	color: #383838;
    padding: 33px 15px;
    border-bottom: 2px solid transparent;
}
.menu__item a:hover, .menu__item a:active{
	color: #26AFFF;
	border-bottom: 2px solid #26AFFF;
}
.side-menu{
	display: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 2;
}
.side-menu__background{
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
}
.side-menu__content{
	background: #FFFFFF;
	padding: 42px 30px 40px 0;
	width: 281px;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-left: auto;
}
.side-menu__top{
	display: flex;
	justify-content: space-between;
}
.side-menu__btn{
	text-transform: uppercase;
	font-family: ProximaNova;
	font-weight: 600;
	font-size: 26px;
	line-height: 100%;
	color: #858585;
	background: none;
	border: none;
}
.side-menu .logo, .side-menu .call{
	margin-left: 20px;
}
.side-menu .logo{
	font-size: 45px;
}
.side-menu .logo span{
	font-size: 10px;
    margin-top: 4px;
    width: 81px;
}
.side-menu .call{
	margin-top: auto;
}
.side-menu__item a{
	font-family: ProximaNova;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	display: flex;
	align-items: center;
	letter-spacing: 0.01em;
	color: #858585;
	width: 100%;
	height: 55px;
	padding: 15px 0 16px 20px;
	position: relative;
}
.side-menu__item a::after{
	position: absolute;
	content: '';
	height: 1px;
	width: 75px;
	background: #DEE6E9;
	bottom: 0;
	left: 15px;
}
.side-menu__item:last-child a::after{
	display: none;
}
.side-menu__item a:hover{
	background: linear-gradient(90deg, #00CCFF 0%, #00A2FF 100%);
	border-radius: 0px;
	color: #fff;
}

.call{
	display: flex;
	width: 220px;
	margin-left: 35px;
}
.call__icon{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: linear-gradient(90deg, #00CCFF 0%, #00A2FF 100%);
	box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
}
.call__icon img{
	margin-top: 3px;
	margin-left: 3px;
	cursor: pointer;
}
.call__text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	font-family: ProximaNova;
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	margin-left: 19px;
}
.call__text a{
	color: #383838;
	font-family: ProximaNova;
	font-weight: 500;
	font-size: 17px;
	display: block;
}
.call__text span{
	font-family: ProximaNova;
	font-weight: 700;
	font-size: 17px;
	line-height: 120%;
	color: #26AFFF;
}
.offer{
	margin-top: 110px;
	line-height: 140%;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin-left: 5px;
	margin-bottom: 550px;
}
.offer__subtitle{
	font-family: Bitter;
	font-weight: 500;
	font-size: 25px;
	line-height: 140%;
}
.offer__title{
	font-family: Bitter;
	font-weight: 700;	
	font-size: 50px;
	text-transform: uppercase;
	line-height: 140%;
	letter-spacing: 0.02em;
}
.offer__desc{
	font-family: ProximaNova;
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	margin-top: 15px;
	max-width: 570px;
	margin-left: 13px;
	margin-bottom: 31px;
}
/* Header  END */



/*   Help    */
.help{
	padding: 150px 0 201px;
	position: relative;
}
.help::before{
	content: '';
    position: absolute;
    height: 378px;
    top: 150px;
    right: 0px;
    background: #F3F9FB;
    width: 65%;
}
.help__content{
    margin-top: 39px;
    margin-right: 66px;
    text-align: right;
}
.help__desc{
	font-family: ProximaNova;
	font-weight: 500;
	font-size: 17px;
	line-height: 143%;
    text-align: right;
    letter-spacing: 0.01em;
    margin: 10px -5px 26px 0;
}
.help__btn{
	margin-left: 54px;
    margin-top: -88px;
    letter-spacing: 0.01em;
}
.help-card{
	max-width: 233px;
	background: #FFFFFF;
	box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
	padding-top: 103px;
	padding-bottom: 35px;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin-top: 50px;	
	margin-right: 15px;
	background: #fff;
	border-radius: 5px;
}
.help-card__title{
	font-family: Bitter;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 13px;  
}
.help-card__desc{
	font-family: ProximaNova;
	font-weight: 500;
	font-size: 14px;
	line-height: 125%;
	text-align: center;
	letter-spacing: 0.01em;
	color: #858585;
	width: 86%;
}
.help-card__rocket{
	margin-left: 6px;
	background: #fff url('../img/rocket.png') 90px 35px no-repeat;
}
.help-card__desktop{
	background: #fff url('../img/desktop.png') 90px 42px no-repeat;
}
.help-card__brain{
	margin-right: 0;
	background: #fff url('../img/brain.png') 90px 41px no-repeat;
}
/*   Help   END */

/* Cases   */
.cases{
	padding-bottom: 212px;
	padding-top: 6px;
}
.cases__title{
	width: 170px;
    text-align: left;
    margin-left: 10px;
}
.cases__desc{
	font-family: ProximaNova;
	font-weight: 500;
	font-size: 17px;
	line-height: 142%;
	letter-spacing: 0.01em;
    margin-left: 24px;
    margin-top: 11px;
}
.cases__slider{
	box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
	border-radius: 5px;
	max-width: 468px;
    margin-left: auto;
    margin-top: 28px;
    margin-right: -7px;
}
.cases__slide{
	width: 156px;
	text-align: center;
	font-family: ProximaNova;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #858585;
	height: 55px;	
	padding-top: 16px;
	position: relative;
}
.cases__slide_left::after, .cases__slide_center::after{
	content: '';
	width: 1px;
	height: 24px;
	background: #DEE6E9;
	position: absolute;
	right: 0;
}
.cases__slide_left{
	border-radius: 5px 0 0 5px;
} 
.cases__slide_right{
	border-radius: 0 5px 5px 0;
}
.cases__slide:hover, .cases__slide:active{
	background: linear-gradient(90deg, #00CCFF 0%, #00A2FF 100%);
	color: #FFFFFF;
	cursor: pointer;
}
.case-card{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    justify-content: space-between;
    margin: 60px 0 0;
    background: linear-gradient(to right, #fff 14%, #F3F9FB 0%);
    max-width: 570px;
    padding: 0 0px 0 17px;
}
.case-card__title{
	font-family: Bitter;
	font-weight: 500;
	font-size: 22px;
	line-height: 120%;
	letter-spacing: 0.01em;
	width: 177px;
	margin-top: 56px;
	margin-right: 15px;
}
.case-card__img{
	position: relative;
}
.case-card__overlay{
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(1.19deg, #062B31 -15.8%, rgba(6, 43, 49, 0) 99.03%), rgba(0, 181, 255, 0.2);
	position: absolute;
	cursor: pointer;
	font-family: ProximaNova;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0.02em;
	color: #26AFFF;
    padding-top: 87%;
    padding-left: 8px;
}
.case-card__overlay::after{
	content: '';
	width: 50px;
	height: 1px;
	background: #26AFFF;
	position: absolute;
	margin-top: 11px;
    margin-left: 16px;
}
.case-card__img img{
	display: block;
	width: 100%;
}
.case-card:hover .case-card__overlay{
	display: block;
}
.case-top{
	margin-top: 87px;
}
/* Cases  END */

/* Call-us    */
.call-us{
	background: linear-gradient(90deg, #00CCFF 0%, #00A2FF 100%);
	max-height: 385px;
}
.call-us__title{
	font-family: 'Bitter';
	font-weight: 700;
	font-size: 26px;
	line-height: 140%;
	text-align: right;
	color: #FFFFFF;
	letter-spacing: 0.023em;
	margin-bottom: 34px;
}
.call-us__content{
	flex-direction: column;
    margin-top: 84px;
    margin-right: 8px;
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-bottom: 114px;
}
.call-us .layer img{
	position: absolute;
    display: block;
	bottom: -361px;
    left: 22px;
}
.call-us__btn{
	background: #fff;
	color: #26AFFF;
	margin-left: auto;
}
.call-us__btn:hover{
	background: #00b6ff;
	color: #fff;
	border: 1px solid #fff;
}
.call-us__pict{
	margin-left: 56px;
    margin-top: -62px;
    max-width: 421px;
}
.call-us__phone{
	width: 100%;
}
    
/* Call-us END*/


/* News        */
.news{
	padding-top: 206px;
	padding-bottom: 114px;
}
.news-top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 122px;
}
.news__buttons{
	margin-top: 17px;
	margin-left: 8px;
	display: flex;
}
.news__button{
	width: 50px;
	height: 50px;
	text-align: center;
	box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.2);
	border-radius: 50%;
	display: block;
	margin-right: 25px;
	cursor: pointer;
}

.news__button:hover{
	box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
}
.news-cards{
	margin-top: 85px;
	padding-top: 32px;
}
.news-card{
	width: 100%;
	padding: 20px 0 30px 29px;
	position: relative;
	box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
	border-radius: 2px;
	text-align: left;
}
.news-card__img{
	position: absolute;
    width: 270px;
	height: 193px;
    top: -36px;
    left: -16px;
}
.news-card__img::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(1.04deg, #062B31 -15.8%, rgba(6, 43, 49, 0) 99.03%), rgba(0, 181, 255, 0.2);
}
.news-card__date{
	display: block;
	width: 75px;
	height: 23px;
	background: #26AFFF;
	box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
	border-radius: 2px;
	font-family: ProximaNova;
	font-size: 10px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.01em;
	color: #FFFFFF;
	margin: 0 13px 0 auto;
	padding-top: 5px;
}
.news-card__title{
	font-family: Bitter;
	font-weight: 700;
	font-size: 16px;
    line-height: 145%;
    letter-spacing: 0.05em;
    margin-bottom: 12px;
	margin-top: 141px;
}
.news-card__text{
	font-family: ProximaNova;
	font-size: 14px;
	line-height: 125%;
	letter-spacing: 0.01em;
	color: #858585;
	margin-bottom: 35px;
}
.news-card__title, .news-card__text{
	max-width: 276px;
}
.news-card__more{
	font-family: ProximaNova;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0.02em;
	color: #26AFFF;
}
.news-card__more:after{
	content: '';
	width: 50px;
	height: 1px;
	background: #26AFFF;
	position: absolute;
	margin-top: 11px;
    margin-left: 16px;
}
.news-card__wrapper{
	width: 370px;
    padding-left: 14px;
}

/* News     END*/


/* Footer        */
.footer-item .logo{
	color: #fff;
	margin-left: 9px;
    margin-top: -10px;	
}
.footer{
	background: #383838;
	color: #CCCCCC;	
    padding-top: 56px;
}

.social{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
    width: 170px;
    margin-top: 42px;
    margin-left: 8px;
}
.social li{
	cursor: pointer;
	transition: 1s;
}
.social li:hover {
    transform: scale(1.2); 
   }
.develop-text{
	width: 200px;
	font-family: ProximaNova;
	font-size: 15px;
	line-height: 150%;
    letter-spacing: 0.01em;
    margin-top: 38px;
    margin-left: 7px;
}
.footer-menu {
	height: 208px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 3px;
	margin-left: 7px;
}
.footer-menu__title{
	font-family: ProximaNova;
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #fff;
	margin-bottom: 4px;	
}
.footer-menu__item a,.footer-menu__item{
	font-family: ProximaNova;
	font-size: 15px;
	line-height: 155%;
	letter-spacing: 0.01em;
	color: #CCCCCC;
}
.footer-menu__item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.footer-menu__img{
	width: 21px;
	height: 21px;
	margin-right: 14px;
	margin-top: 6px;
}
.footer-menu__img_addres{
	height: 100%;
	background: url('../img/addres.svg') no-repeat center;
	background-position: 0 2px;
	margin-right: 13px;
}
.footer-menu__img_tel{
	background: url('../img/icon1.svg') no-repeat center;
    background-position: 0px 0px;
}
.footer-menu__img_mail{
	background: url('../img/icon2.svg') no-repeat center;
	background-position: 0px 1px;
}
.footer-menu__contacts{
	display: flex;
    flex-direction: column;
}
.contacts{
	margin-left: 6px;
}
.footer-menu__addres{
	letter-spacing: 0.02em;
}
.distribution-title{
	font-family: ProximaNova;
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: 0.01em;
	color: #fff;
	margin-bottom: 32px;
	margin-left: 5px;
    margin-top: 2px;
}
.dist__inp{
	border: none;
	outline: none;
	background: #494949;
	border-radius: 5px;
	max-width: 370px;
	width: 100%;
	height: 50px;
	color: #CCCCCC;
	padding-left: 27px;
	margin-bottom: 24px;
}
.dist-form{
	margin-top: 3px;
	margin-left: 7px;
}
.dist__btn:hover{
	background: #383838;
}
.rights-text{
	font-family: ProximaNova;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.01em;
	text-align: center;
	position: relative;
	margin-top: 80px;
	margin-bottom: 60px;
}
.rights-text::before{
	content: '';
	width: 100%;
	height: 1px;
	background: #C4C4C4;
	position: absolute;
	left: 0;
	top: -21px;
}
.mobile{
	display: none;
}
/* Footer     END*/

/* Navigation     */
.navigation{
	background: #383838;
	padding: 47px 0;
}
.navigation__title{
	font-family: Bitter;
    font-weight: 700;
    font-size: 23px;
    line-height: 34px;
    color: #FFFFFF;
    margin-left: 10px;
    letter-spacing: 0.09em;
}
.navigation__sections{
	margin-top: 5px;
    margin-right: 6px;
}
.navigation__sections a{
	font-family: ProximaNova;
	font-size: 17px;
	line-height: 21px;
	color: #CCCCCC;
}
.navigation__current{
	font-family: ProximaNova;
	font-size: 17px;
	line-height: 21px;
	color: #FFFFFF;
}
/* Navigation   END*/
/*  Choise   */
.choise{
	padding: 150px 0;
}
.choise__content{
	margin-top: 68px;
    margin-left: 10px;
}
.choise__content .section-title{
	text-align: left;
	margin-bottom: 28px;
	line-height: 170%;
}
.choise__content .section-title span{
	text-transform: uppercase;
    line-height: 1.3em;
    letter-spacing: 0.03em;
}
.choise__desc{
	font-family: ProximaNova;
	font-size: 17px;
	line-height: 145%;
	letter-spacing: 0.01em;
	color: #383838;
	max-width: 470px;
	margin-bottom: 26px;
}
.choise__pict{
	max-width: 670px;
	max-height: 587px;
	width: 100%;
	height: 100%;
	margin-left: 9px;
	position: relative;
}
.choise__pict img{
	display: block;
	width: 100%;
    height: 100%;
    object-fit: cover;
}
.choise__pict::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(1.04deg, #062B31 -15.8%, rgba(6, 43, 49, 0) 99.03%), rgba(0, 181, 255, 0.2);
}
.ceo{
	min-width: 600px;
}
.ceo__card{
	min-height: 177px;
	background: #F3F9FB;
	color: #383838;
	max-width: 525px;
	width: 100%;
	margin-right: -9px;
	padding: 35px 145px 35px 55px;
	position: relative;
}
.ceo__title{
	font-family: Bitter;
	font-weight: 700;
	font-size: 15px;
	line-height: 155%;
	letter-spacing: 0.04em;
	margin-bottom: 16px;
	max-width: 324px;
}
.ceo__name{
	font-family: ProximaNova;
	font-weight: 700;
	font-size: 17px;
	line-height: 150%;
	letter-spacing: 0.01em;
}
.ceo__position{
	font-family: ProximaNova;
	font-size: 13px;
	line-height: 155%;
	letter-spacing: 0.01em;
}
.ceo__card::before{
	content: '';
	position: absolute;
	width: 94px;
	height: 94px;
	background: url('../img/ceo.png') no-repeat center;
	background-size: contain;
	left: -63px;
}
.ceo__card::after{
	content: '';
	position: absolute;
	width: 120px;
	height: 98px;
	background: url('../img/signature.png') no-repeat center;
	background-size: contain;
	right: 0;
	bottom: 0;
}
/*Choise  END */

/* Statistic    */ 
.statistic{
	background: url('../img/stat-background.png') no-repeat center;
	padding: 130px 0 199px;
	background-size: cover;
}
.circle__percent{
    width: 224px;
    height: 224px;
    font-family: ProximaNova;
    font-weight: 300;
    font-size: 45px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    padding: 79px 0;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
}
.circle__title{
	font-family: Bitter;
	font-weight: 700;
	font-size: 15px;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	margin-top: 10px;
}
.circle__percent_service{
	padding-left: 0;
	background: url('../img/100-service.png') no-repeat center;
}
.circle__percent_client{
	background: url('../img/87-client.png') no-repeat center;
}
.circle__percent_complite{
	padding-left: 10px;
	background: url('../img/66-complite.png') no-repeat center;
}
.circle__percent_goals{
    padding: 93px 0 0 30px;
    margin-bottom: 23px;
	background: url('../img/31-goals.png') no-repeat center;
}
.service{
	margin-left: 19px;
}
.complite{
	margin-left: 7px;
}
.goals{
	margin-left: -14px;
    margin-top: -13px;
}
.goals .circle__title{
	margin-left: 30px;
}
/* Statistic  END  */

/*  Team   */
.team{
	padding: 150px 0;
}
.team .section-title{
	text-align: left;
	padding-left: 15px;
}
.team-cards{
	margin-top: 83px;
	margin-left: 25px;

}
.team-card{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.team-card__img{
	max-width: 370px;
	max-height: 394px;
	position: relative;
	width: 100%;
	object-fit: contain;
}
.team-card__img img{
	display: block;
	width: 100%;
}
.team-card__position{
	display: block;
	width: 141px;
	height: 34px;
	background: #26AFFF;
	font-family: ProximaNova;
	font-size: 12px;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.01em;
	color: #FFFFFF;
	position: absolute;
	right: 0;
	bottom: 0;
	padding-top: 9px;
}
.team-card__name{
	font-family: Bitter;
	font-weight: 700;
	font-size: 15px;
	line-height: 150%;
	letter-spacing: 0.05em;
	color: #383838;
}
.team-card__content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	max-width: 354px;
	max-height: 70px;
	width: 100%;
	height: 100%;
	margin-left: 16px;
	box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
	border-radius: 2px;
	padding: 24px 15px 23px 25px;
}
.team-card__social{
	width: 45px;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-right: 10px;
}
/*  Team  END */
/*  Services   */
.services{
	padding: 150px 0 119px;;
}
.services .section-title{
	text-align: left;
	letter-spacing: 0.1em;
}
.services__desc{
    font-family: ProximaNova;
    font-weight: 500;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: 0.01em;
    margin-left: 13px;
    margin-top: 12px;
    max-width: 470px;
}
.service-cards{
	margin-top: 86px;
}
.service-card{
	max-width: 370px;
	width: 100%;
	background: #F3F9FB;
	padding: 50px 36px 50px 40px;
	margin-bottom: 30px;
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.service-card__title{
	font-family: Bitter;
	font-weight: 400;
	font-size: 22px;
	line-height: 120%;
	letter-spacing: 0.01em;
	color: #383838;
}
.service-card__description{
	max-width: 230px;
	width: 100%;
	font-family: ProximaNova;
	font-size: 15px;
	line-height: 130%;
	letter-spacing: 0.01em;
	color: #000000;
	margin-top: 39px;
	margin-bottom: 15px;
	height: 57px;
}
.service-card__price{
	font-family: ProximaNova;
	font-weight: 700;
	font-size: 20px;
	line-height: 130%;
	letter-spacing: 0.01em;
	color: #26AFFF;
}
.service-card__btn{
	max-width: 171px;
	height: 50px;
	margin-top: 32px;
	letter-spacing: 0.01em;

}
.service-card-prac::after{
	content: '';
	width: 94px;
	height: 94px;
	background: url('../img/pract.svg') no-repeat;
	position: absolute;
	right: 25px;
	bottom: 25px;
}
.service-card-idea::after{
	content: '';
	width: 94px;
	height: 94px;
	background: url('../img/idea.svg') no-repeat center;
	position: absolute;
	right: 14px;
	bottom: 25px;
}
.service-card-tmt::after{
	content: '';
	width: 94px;
	height: 94px;
	background: url('../img/tmt.svg') no-repeat;
	position: absolute;
	right: 25px;
	bottom: 25px;
}
.service-card-internet::after{
	content: '';
	width: 94px;
	height: 94px;
	background: url('../img/internet.svg') no-repeat;
	position: absolute;
	right: 25px;
	bottom: 25px;
}
.service-card-business::after{
	content: '';
	width: 94px;
	height: 94px;
	background: url('../img/business.svg') no-repeat;
	position: absolute;
	right: 25px;
	bottom: 25px;
}
.service-card-target::after{
	content: '';
	width: 94px;
	height: 94px;
	background: url('../img/target.svg') no-repeat;
	position: absolute;
	right: 25px;
	bottom: 25px;
}
/*  Servises END  */

/* Contacts   */
.contact{
	padding: 150px 0;
	position: relative;
}
.map-block{
	height: 411px;
	width: 100%;	
}
.adress-card__title{
	font-family: Bitter;
	font-weight: 700;
	font-size: 22px;
	line-height: 150%;
	letter-spacing: 0.05em;
	color: #383838;
	margin-bottom: 37px;
}
.adress-card{
	height: 411px;
	background: #fff;
	padding: 28px 39px 28px 51px;
	width: 372px;
	position: absolute;
	right: 300px;
}
.adress-card__list{
	position: relative;
}
.adress-card__item a,.adress-card__text-content{
	font-family: ProximaNova;
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
	letter-spacing: 0.01em;
	color: #383838;
	display: block;
}
.adress-card__item{
	height: 52px;
}
.adress-card__text-content{
	width: 212px;
}
.adress-card__item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 18px;
}
.adress-card__img{
	width: 38px;
	height: 38px;
	background: #26AFFF;
	box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
	border-radius: 50%;
	position: relative;	
    margin-right: 20px;
}
.adress::after{
	content: '';
	width: 100%;
	height: 100%;
	background: url('../img/map-target.png') no-repeat center;
	position: absolute;
}
.tel::after{
	content: '';
	width: 100%;
	height: 100%;
	background: url('../img/phone-white.png') no-repeat center;
	position: absolute;
}
.mail::after{
	content: '';
	width: 100%;
	height: 100%;
	background: url('../img/envelope-white.png') no-repeat center;
	position: absolute;
}
.adress-card__item:nth-child(1) .adress-card__text-content{
	margin-top: -6px;
}
.adress-card__item:nth-child(2) .adress-card__text-content{
	margin-top: -3px;
}
.adress-card__item:nth-child(3) a{
	margin-top: 5px;
}
.adress-card__list::after{
	content: '';
	position: absolute;
	width: 270px;
	height: 1px;
	bottom: -15px;
	background: #E5E5E5;
}
.adress-card__working-hours{
	max-width: 248px;
	width: 100%;
	font-family: ProximaNova;
	font-weight: 700;
	font-size: 17px;
	line-height: 150%;
	letter-spacing: 0.01em;
	color: #383838;
	margin-top: 45px;
}
/*Contacts   END */

/*Review */
.reviews{
	padding: 150px 0;
}
.reviews__content .section-title{
	text-align: left;
	letter-spacing: 0.03em;
}
.reviews__content{
	margin-bottom: 20px;
}
.review-card{
	padding: 40px;
	box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
	border-radius: 2px;
	margin-top: 57px;
	width: 96%;

}
.review-card__date{
	display: block;
	width: 75px;
	height: 23px;
	background: #26AFFF;
	font-family: ProximaNova;
	font-size: 10px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.01em;
	color: #FFFFFF;
	box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
	border-radius: 2px;
	padding-top: 5px;
}
.review-card__content{
	margin-left: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
.review-card__desc{
	margin-right: 59px;
}
.review-card__name{
	font-family: Bitter;
	font-weight: 700;
	font-size: 18px;
	line-height: 125%;
	letter-spacing: 0.04em;
	color: #383838;
	margin-bottom: 22px;
}
.review-card__text{
	font-family: ProximaNova;
	font-weight: 400;
	font-size: 15px;
	line-height: 155%;
	letter-spacing: 0.01em;
	color: #858585;
	max-width: 685px;
	width: 100%;
	padding-bottom: 20px;
}
.review-card__img img{
	display: block;
	width: 225px;
    height: 231px;
}
.review-card__img{
	position: relative;
	width: 225px;
    height: 231px;
    margin-top: -11px;
    margin-left: -81px;
    margin-right: 40px;
}
.review-card__img a{
	display: block;
	width: 36px;
	height: 36px;
	background: #fff url('../img/instagram-blue.png') no-repeat center;
	position: absolute;
    bottom: -15px;
    right: 11px;
	box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
	border-radius: 3px;
}
/*Review  END*/


/* Order Call  */ 

.order-call{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 3;
}
.order-call__form{
	max-width: 600px;
	max-height: 520px;
	width: 100%;
	height: 100%;
	background: #fff;
	margin: 100px auto 0;
	padding: 82px 70px;
	position: relative;
}
.order-call__title{	
	font-family: Bitter;
	font-weight: 700;
	font-size: 26px;
	color: #383838;
	margin-bottom: 15px;
}
.order-call__desc{
	font-family: ProximaNova;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;	
	color: #858585;
}
.order-call__form label{
	display: block;
	font-family: ProximaNova;
	font-weight: 700;
	line-height: 130%;	
}
.black-label{
	color: #000000;
	font-size: 16px;
}
.error{
	color: #ff0000;
	font-size: 14px;
	margin-top: 2px;
}
.order-call__item{
	margin-top: 20px;
	height: 76px;
}
.order-call__input{
	margin-top: 5px;
	border: 1px solid #C3C3C3;
	box-sizing: border-box;
	border-radius: 3px;
	max-width: 460px;
	max-height: 50px;
	width: 100%;
	height: 100%;
	padding-left: 15px;
}
.order-call__btn{
	max-width: 165px;
	width: 100%;
	margin-top: 30px;
}
.order-call__close-btn{
	font-family: ProximaNova;
    font-weight: 600;
    font-size: 26px;
    color: #858585;
    position: absolute;
    border: none;
    background: none;
    top: 10px;
	right: 15px;
	cursor: pointer;
}

/* Order Call END*/ 

/* Swiper */
.swiper-container {
	width: 100%;
	min-height: 658px;
  }
  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }
/* Swiper END */
/* Media Queries */

@media screen and (max-width: 1200px){
	.logo{
		margin-left: 0;
	}
	.menu__item a{
		padding: 32px 6px;
	}
	.help__btn{
	    margin-left: 0px;
	}
	.news-card__wrapper{
		margin-right: 14px;
	}
	.team-cards {
    	margin-top: 43px;
	}
	.team-card{
		margin-top: 40px;
	}
	.cases__slider {
		margin-left: 0;
	}
	.order-call__form{
		margin-top: 25px;
	}
	.help{
		padding: 100px 0 150px;
	}
	.cases {
		padding-bottom: 150px;
	}
	.news {
		padding: 150px 0 100px;
	}
	.help-card__rocket, .help-card__desktop, .help-card__brain {
		background-position:  66px 35px;
	}
	.news {
		padding: 100px 0 70px;
	}
	.reviews {
		padding: 100px 0;
	}
	.adress-card{
		right: 100px;
	}
}

/* 768 - 992 px */
@media screen and (max-width: 992px) {
	.call{
		margin-left: 0;
	}
	.offer{
		margin-bottom: 346px;
	}
	.offer__subtitle{
		font-size: 22px;
	}
	.offer__title{
		font-size: 40px;
	}
	.offer{
		margin-bottom: 187px;
	}
	.offer__desc{
		font-size: 17px;
	}
	.help {
		padding: 100px 0;
	}
	.help::before{
		top: 315px;
	}
	.help__content{
		text-align: left;
		margin-top: 0;
		margin-right: 50px;
	}
	.help__content .section-title, .help__desc{
		text-align: left;
	}
	.help__btn{
    	margin-left: 0px;
    	margin-top: 40px;
	}
	.help-card{
		max-width: 283px;
		padding-left: 30px;
		padding-right: 30px;	 
	}
	.help-card__desc{
		line-height: 130%;
	    letter-spacing: 0.02em;
	}
	.help-card__rocket{
		margin-left: 6px;
		background: #fff url('../img/rocket.png') 119px 35px no-repeat;
	}
	.help-card__desktop{
		background: #fff url('../img/desktop.png') 117px 42px no-repeat;
	}
	.help-card__brain{
		margin-right: 0;
		margin-top: 30px;
		background: #fff url('../img/brain.png') 113px 41px no-repeat;
	}
	.cases__slider{
		margin-bottom: 60px;
	}
	.case-top{
		margin-top: 30px;
	}
	.call-us__content img, .call-us__phone{
		display: none;
	}
	.call-us__content{
		text-align: center;
		align-items: center;
		margin-right: 0;
	}
	.call-us__btn{
		margin: 0 auto;
		z-index: 2;
	}
	.call-us{
		position: relative;
	}
	.call-us__title{
		text-align: center;
	}
	.call-us::before{
		content: '';
		width: 82px;
		height: 150px;
		background: url('../img/decor-1.png') no-repeat;
		position: absolute;
		top: 8px;
		right: 0;
	}
	.call-us::after{
		content: '';
	    width: 82px;
	    height: 157px;
	    background: url(../img/decor-1.png) no-repeat;
	    position: absolute;
	    bottom: 0;
	    left: 9px;
	}
	.call-us .layer img {
		display: none;
	}
	.call-us__text{
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.develop-text{
		display: none;
	}
	.mobile{
		display: block;
		width: 100%;
    	text-align: center;
	}
	.distribution-title {
	    margin-top: 60px;
	}
	.footer-item .logo{
		margin-bottom: 50px;
	}
	.rights-text{
		margin-top: 42px;
	}
	.choise{
		padding: 100px 0;
	}
	.choise__pict{
		height: 300px;
		width: 100%;
		max-width: none;
		margin-left: 0px;
	}
	.choise__content {
	    margin-top: 60px;
	}
	.choise__desc{
		max-width: 722px;
	}
	.ceo{
		min-width: 100%;
    	padding-left: 45px;
	}
	.ceo__card{
		padding: 35px 15px 0 75px;
	}
	.ceo__card::before{
		left: -45px;
	}
	.statistic{
		padding: 75px 0 25px;
	}
	.circle{
		margin-bottom: 50px;
	}
	.service{
		margin-left: 0;
	}
	.complite {
	    margin-left: -12px;
	}
	.goals {
	    margin-left: -30px;
	}
	.team{
		padding: 100px 0;
	}
	.services{
		padding: 100px 0 70px;
	}
	.service-cards{
		margin-top: 0;
	}
	.contact{
		padding: 100px 0;
	}
	.adress-card{
		padding-top: 0;
	}
	.review-card__img{
		width: 168px;
		height: 172px;
	}
	.review-card__img img{
		width: 168px;
		height: 172px;
	}
	.review-card__desc{
		margin-right: 0;
	}
	.adress-card{
		right: 50px;
	}
}

/* 576 - 768 px */
@media screen and (max-width: 768px) {
	.offer{
		margin-bottom: 178px;
	}
	.help-card{
		margin-top: 50px;
		margin-right: 0;
		margin-left: 0;		
	}
	.help__desc{
		max-width: 300px;
	}
	.help::before{
		background: linear-gradient(to right, #fff 55%, #F3F9FB 0%);
	}
	.case-card__overlay{
		padding-left: 27px;
	}
	.case-card{
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
	}
	.case-card__title{
		position: absolute;
		color: #fff;
		z-index: 2;
		display: none;
		margin-left: 25px;
	}
	.case-card:hover .case-card__title{
		display: block;
	}
	.cases__slider{
		margin-left: 0;
	}
	.call-us::before{
		content: '';
		width: 82px;
		height: 50px;
		background: url('../img/decor-1.png') no-repeat;
		position: absolute;
		top: 8px;
		right: 0;
	}
	.call-us::after{
		content: '';
	    width: 82px;
	    height: 50px;
	    background: url(../img/decor-1.png) no-repeat;
	    position: absolute;
	    bottom: 0;
	    left: 9px;
	}
	.call-us__title{
		font-size: 22px;
	}
	.news-top{
		flex-direction: column-reverse;
	}
	.news-card__wrapper{
		max-width: 354px;
		margin-right: 0;
	}
	.news-card{
		position: relative;
		width: 100%;
	}
	.news-cards{
		margin-top: 0;
	}
	.news-card__img{
		max-width: 354px;
		max-height: 190px;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}	
	.news-card__img img{
		display: block;
		width: 100%;
		height: 100%;
	}
	.news-card__date{
		position: absolute;
		width: 75px;
		height: 27px;
		font-size: 13px;
		right: 0;
	}
	.news-card__title{
		margin-top: 200px;
	}
	.footer-menu.contacts{
		margin-top: 50px;
	}
	.contact{
		background: #fff;
	}
	.review-card {
	    flex-direction: column;
	    align-items: center;
		text-align: center;
		padding: 40px 10px;
	}
	.review-card__img{
		margin: 0;
	}
	.review-card{
		padding-top: 50px;
		position: relative;
	}
	.review-card__date{
		position: absolute;
		top: 20px;
		right: 15px;
	}
	.review-card__desc{
		margin-top: 30px;
	}
	.adress-card{
		position: relative;
		right: 0;
		margin-left: 15px;
	}
	.map-block{
		margin-top: 50px;
		width: 100%;
		height: 100%;
	}
	.contact .container-fluid .row{
		display: flex;
		flex-direction: column-reverse;
	}
}
/* 414 - 576 px */
@media screen and (max-width: 576px) {
	.footer-item .logo{
		margin-bottom: 0;
	}
	.social{
		margin-top: 15px;
		margin-bottom: 50px;
	}
	.call-us__title{
		font-size: 21px;
	}
	.navigation__sections{
		margin-top: 10px;
	}
	.ceo__position{
		margin-bottom: 98px;
	}
	.ceo{
    	padding-left: 38px;
	}
	.ceo__card::before{
		width: 75px;
		height: 75px;
	}
	.choise .section-title span{
		font-size: 36px;
	}
	.team-card{
		width: 100%;
	}
	.team-card__img{
		width: 100%;
	}
	.team-card__content{
		width: 100%;
	    margin-left: 0;
	    max-width: 370px;
	}
	.service-card-prac::after, .service-card-idea::after, .service-card-internet::after, .service-card-tmt::after, .service-card-business::after, .service-card-target::after{
		bottom: 25px;
		right: 15px;
	}
	.adress-card{
		width: 94%;
		padding: 0;
	}
	.order-call__form{
		margin: 0;
		max-height: 100%;
		padding: 50px 20px;
	}
	.swiper-container{
		padding-bottom: 28px;
	}
}
/* 320 - 414 px */
@media screen and (max-width: 414px) {
	.offer{
		margin-bottom: 63px;
	}
	.offer__subtitle{
		font-size: 20px;
	}
	.offer__title{
		font-size: 30px;
	}
	.offer{
		margin-bottom: 187px;
	}
	.offer__desc{
		font-size: 17px;
	}
	.cases__slider{
		flex-direction: column;
		max-width: 384px;
	}
	.cases__slide_left::before, .cases__slide_center::before{
		content: '';
		width: 75px;
		height: 1px;
		background: #DEE6E9;
		position: absolute;
		bottom: 0;
	}
	.cases__slide_left::after, .cases__slide_center::after{
		display: none;
	}
	.cases__slide {
		width: 100%;
	}
	.choise__content{
		margin-left: 0;
	}
	.service-card__btn{
		width: 141px;
	}
}

#rzp-button1 {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 550;
    line-height: 30px;
    text-align: center;
    padding: 7px 12px;
    margin-top: 25px;
    border: 2px solid transparent;
    background: #323031;
    box-shadow: inset 5px 5px 10px #070707, inset -5px -5px 10px #000000;
    border-radius: 30px !important;
}

#rzp-button1:hover {
    background-color: #0011ff;
}

#rzp-button2 {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 550;
    line-height: 30px;
    text-align: center;
    padding: 7px 12px;
    margin-top: 25px;
    border: 2px solid transparent;
    background: #323031;
    box-shadow: inset 5px 5px 10px #070707, inset -5px -5px 10px #000000;
    border-radius: 30px !important;
}

#rzp-button2:hover {
    background-color: #0011ff;
}

#rzp-button3 {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 550;
    line-height: 30px;
    text-align: center;
    padding: 7px 12px;
    margin-top: 25px;
    border: 2px solid transparent;
    background: #323031;
    box-shadow: inset 5px 5px 10px #070707, inset -5px -5px 10px #000000;
    border-radius: 30px !important;
}

#rzp-button3:hover {
    background-color: #0011ff;
}

#rzp-button4 {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 550;
    line-height: 30px;
    text-align: center;
    padding: 7px 12px;
    margin-top: 25px;
    border: 2px solid transparent;
    background: #323031;
    box-shadow: inset 5px 5px 10px #070707, inset -5px -5px 10px #000000;
    border-radius: 30px !important;
}

#rzp-button4:hover {
    background-color: #0011ff;
}

#rzp-button5 {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 550;
    line-height: 30px;
    text-align: center;
    padding: 7px 12px;
    margin-top: 25px;
    border: 2px solid transparent;
    background: #323031;
    box-shadow: inset 5px 5px 10px #070707, inset -5px -5px 10px #000000;
    border-radius: 30px !important;
}

#rzp-button5:hover {
    background-color: #0011ff;
}

#rzp-button6 {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 550;
    line-height: 30px;
    text-align: center;
    padding: 7px 12px;
    margin-top: 25px;
    border: 2px solid transparent;
    background: #323031;
    box-shadow: inset 5px 5px 10px #070707, inset -5px -5px 10px #000000;
    border-radius: 30px !important;
}

#rzp-button6:hover {
    background-color: #0011ff;
}

#button {
    display: inline-block;
    background-color: #000000;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}

#button:active {
    background-color: rgb(255, 0, 0);
}

#button.show {
    opacity: 1;
    visibility: visible;
}
